<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- 允许使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 允许使用自定义的主键值(比如由程序生成的UUID 32位编码作为键值)，数据表的PK生成策略将被覆盖 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 给予被嵌套的resultMap以字段-属性的映射支持 -->
        <setting name="autoMappingBehavior" value="FULL"/>
        <!-- 对于批量更新操作缓存SQL以提高性能 -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 数据库超过25000秒仍未响应则超时 -->
        <setting name="defaultStatementTimeout" value="25000"/>
        <!-- 允许在嵌套语句中使用分页 -->
        <setting name="safeRowBoundsEnabled" value="false"/>
        <!-- 是否开启自动驼峰命名规则映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启驼峰命名自动映射 -->
        <setting name="autoMappingUnknownColumnBehavior" value="NONE"/>
        <!-- MyBatis 本地缓存机制（SESSION/STATEMENT），SESSION表示同一个会话中执行的所有查询，都会共享这一个缓存 -->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 当没有为参数提供特定的JDBC类型时，为空值指定JDBC类型 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- 配置分页插件 -->
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor">
            <!-- 设置最大单页限制数量，默认500条，-1不受限制 -->
            <property name="maxLimit" value="1000"/>
            <!-- 溢出总页数后是否进行处理 -->
            <property name="overflow" value="true"/>
        </plugin>

        <!-- 乐观锁插件 -->
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.inner.OptimisticLockerInnerInterceptor"/>

        <!-- 防止全表更新与删除插件 -->
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.inner.BlockAttackInnerInterceptor"/>

        <!-- 性能分析插件，输出SQL语句执行时间，线上环境不推荐使用 -->
        <!--
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
            <property name="maxTime" value="1000"/>
            <property name="format" value="true"/>
        </plugin>
        -->
    </plugins>
</configuration>